---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CheckoutForm from '../components/CheckoutForm.jsx';
---

<Layout title="Demande de Devis | MAXEVO PACKAGING">
    <Header />
    
    <section class="pt-32 pb-24 bg-white min-h-screen">
        <div class="container mx-auto px-4 max-w-6xl">
            <CheckoutForm client:load />
        </div>
    </section>
</Layout>